<%- include('components/header.ejs') %>
  
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Shop in style</h1>
            <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
            <p><%= user.name %></p>
        </div>
    </div>
</header>
<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row">
        <% for(let i=0; i<products.length; i++) { %>
            <div class="col-md-4">
              <div class="card mb-4">
                <img src="<%= products[i].image %>" class="card-img-top" alt="Product Image">
                <div class="card-body">
                  <h5 class="card-title"><%= products[i].name %></h5>
                  <p class="card-text"><%= products[i].description %></p>
                  <a href="/order/add/<%= products[i].id %>" class="btn btn-primary">Add to cart</a>
                </div>
              </div>
            </div>
          <% } %>
        </div>
    </div>
</section>

<%- include('components/footer.ejs') %>
